{% extends 'xmetrics_base.html' %}

{% block left_menu %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'xmetrics_kpi' %}">
    <i class="menu-icon mdi mdi-finance"></i>
    <span class="menu-title">KPI</span>
  </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'xmetrics_cloudstorage' %}">
    <i class="menu-icon mdi mdi-dropbox"></i>
    <span class="menu-title">Dropbox</span>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-dropbox text-primary icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">
                {% if cloudstorage.cloudstorage_status.id == 1 %}
                <label class="badge badge-primary">{{ cloudstorage.cloudstorage_status.name|upper }}</label>
                {% elif cloudstorage.cloudstorage_status.id == 2 %}
                <label class="badge badge-success">{{ cloudstorage.cloudstorage_status.name|upper }}</label>
                {% else %}
                <label class="badge badge-danger">{{ cloudstorage.cloudstorage_status.name|upper }}</label>
                {% endif %}
                {{ cloudstorage.account_email }}</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{% if cloudstorage.used_storage %}{{ cloudstorage.used_storage }}{% else %}0.0 b{% endif %}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3 mb-0">
              {% if cloudstorage.last_update %}
              <i class="mdi mdi-update mr-1" aria-hidden="true"></i> Última atualização {{ cloudstorage.last_update|date:"d/m/Y h:i" }}
              {% endif %}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Configuração da conta Dropbox</h4>
              <form class="forms-sample" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="account_email">E-mail:</label>
                  <input type="email" class="form-control" id="account_email" name="account_email" placeholder="seu@email.com" value="{{ cloudstorage.account_email }}" required>
                </div>
                <div class="form-group">
                  <label for="account_password">Senha:</label>
                  <input type="password" class="form-control" id="account_password" name="account_password" placeholder="**********" required>
                </div>
                <button type="submit" class="btn btn-primary mr-2"><i class="mdi mdi-content-save"></i>Salvar</button>
                <button class="btn btn-light"><i class="mdi mdi-close"></i>Cancelar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:./partials/_footer.html -->
<footer class="footer">
</footer>
<!-- partial -->
{% endblock %}