{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>X-METRICS</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/highlight.js/default.min.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo-mini.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:./partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="./index.html">
          <img src="{% static 'images/logo-mini.png' %}" class="logo-mini" alt="logo" />
          <span class="logo">X-METRICS</span>
        </a>
        <a class="navbar-brand brand-logo-mini" href="./index.html">
          <img src="{% static 'images/logo-mini.png' %}" class="logo-mini" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <span class="profile-text"><span class="mdi mdi-account-off"></span>Sem login</span>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:./partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <button onclick="window.location.href='{% url 'xmetrics_kpi_form' %}'" class="btn btn-primary btn-block">Novo KPI <i class="mdi mdi-plus"></i></button>
            </div>
          </li>
          {% block left_menu %}
          {% endblock %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        {% block content %}
        {% endblock %}
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  <!-- container-scroller -->
  <!-- plugins:js -->

  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <script src="{% static 'vendors/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendors/highlight.js/highlight.min.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
