{% extends 'xmetrics_base.html' %}

{% block left_menu %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'xmetrics_kpi' %}">
    <i class="menu-icon mdi mdi-finance"></i>
    <span class="menu-title">KPI</span>
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'xmetrics_cloudstorage' %}">
    <i class="menu-icon mdi mdi-dropbox"></i>
    <span class="menu-title">Dropbox</span>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
<div class="row">
    <div class="col-xl-12 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <h4 class="card-title">{% if kpi %} Editar KPI <small>[{{ kpi.kpi_id }}]</small> {% else %}Novo KPI{% endif %}</h4>
          <form class="forms-sample" method="POST">
            {% csrf_token %}
            {{ formset }}
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Meu indicador" maxlength="50" required {% if kpi %}value="{{ kpi.name }}"{% endif %}>
            </div>
            <div class="form-group">
              <label for="kpi_type">Tipo</label>
              <select class="form-control" id="kpi_type" name="kpi_type">
                {% for type in kpi_type %}
                <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="worksheet">Planilha</label>
              <input type="text" class="form-control" id="worksheet" name="worksheet" placeholder="Planilha.xlsx" maxlength="255" required {% if kpi %}value="{{ kpi.worksheet }}"{% endif %}>
            </div>
            <div class="form-group">
              <label for="sheet">Aba</label>
              <input type="text" class="form-control" id="sheet" name="sheet" placeholder="Pasta1" maxlength="50" required {% if kpi %}value="{{ kpi.sheet }}"{% endif %}>
            </div>
            <div class="form-group">
              <label for="cell">Célula(s)</label>
              <input type="text" class="form-control" id="cell" name="cell" placeholder="A1" maxlength="10" required {% if kpi %}value="{{ kpi.cell }}"{% endif %}>
            </div>
            <button type="submit" class="btn btn-primary mr-2"><i class="mdi mdi-content-save"></i>Salvar</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'xmetrics_kpi' %}'"><i class="mdi mdi-close"></i>Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:./partials/_footer.html -->
<footer class="footer">
</footer>
<!-- partial -->
{% endblock %}