{% extends 'xmetrics_base.html' %}

{% block left_menu %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'xmetrics_kpi' %}">
    <i class="menu-icon mdi mdi-finance"></i>
    <span class="menu-title">KPI</span>
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'xmetrics_cloudstorage' %}">
    <i class="menu-icon mdi mdi-dropbox"></i>
    <span class="menu-title">Dropbox</span>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
<div class="row">
    <div class="col-xl-12 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    ID
                  </th>
                  <th>
                    Nome
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for k in kpi %}
                <tr>
                  <td>
                    {{ k.kpi_id }}
                  </td>
                  <td class="py-1">
                      {{ k.name }}
                  </td>
                  <td class="py-1">
                    {% if k.kpi_status.id == 1 %}
                    <label class="badge badge-primary">{{ k.kpi_status.name|upper }}</label>
                    {% elif k.kpi_status.id == 2 %}
                    <label class="badge badge-success">{{ k.kpi_status.name|upper }}</label>
                    {% else %}
                    <label class="badge badge-danger">{{ k.kpi_status.name|upper }}</label>
                    {% endif %}
                  </td>
                  <td>
                      <button type="button" class="btn btn-outline-info" onclick="window.location.href='{% url 'xmetrics_kpi_query' %}?kpi_id={{ k.kpi_id }}'"><i class="mdi mdi-database-search"></i> Query</button>
                      <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'xmetrics_kpi_form' %}?kpi_id={{ k.kpi_id }}'"><i class="mdi mdi-pencil-outline"></i> Editar</button>
                      <button type="button" class="btn btn-outline-danger" onclick="window.location.href='{% url 'xmetrics_kpi_remove' %}?kpi_id={{ k.kpi_id }}'"><i class="mdi mdi-delete"></i> Remover</button>
                  </td>   
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:./partials/_footer.html -->
<footer class="footer">
</footer>
<!-- partial -->
{% endblock %}