{% extends 'xmetrics_base.html' %}

{% block left_menu %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'xmetrics_kpi' %}">
    <i class="menu-icon mdi mdi-finance"></i>
    <span class="menu-title">KPI</span>
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'xmetrics_cloudstorage' %}">
    <i class="menu-icon mdi mdi-dropbox"></i>
    <span class="menu-title">Dropbox</span>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
<div class="row">
    <div class="col-xl-12 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <h4 class="card-title">Query <small>[{{ kpi.kpi_id }}]</small></h4>
          <pre>
            <code class="sql">{{ kpi.get_query }}</code>
          </pre>
          <span style="visibility: hidden;" id="kpi-query">{{ kpi.get_query }}</span>
          <div class="float-left">
            <button type="button" class="btn btn-primary" onclick="copy_to_clipboard('#kpi-query')"><i class="mdi mdi-file-multiple"></i>Copiar</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'xmetrics_kpi' %}'"><i class="mdi mdi-close"></i>Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:./partials/_footer.html -->
<footer class="footer">
</footer>
<!-- partial -->
{% endblock %}