{% extends 'xmetrics_base.html' %}

{% block left_menu %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'xmetrics_kpi' %}">
    <i class="menu-icon mdi mdi-finance"></i>
    <span class="menu-title">KPI</span>
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'xmetrics_cloudstorage' %}">
    <i class="menu-icon mdi mdi-dropbox"></i>
    <span class="menu-title">Dropbox</span>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
<div class="row">
    <div class="col-xl-12 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <h4 class="card-title">Deseja realmente remover o KPI: <strong>{{ kpi.kpi_id }} - {{ kpi.name }}</strong> ?</small></h4>
          <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete"></i>Sim</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'xmetrics_kpi' %}'"><i class="mdi mdi-close"></i>Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:./partials/_footer.html -->
<footer class="footer">
</footer>
<!-- partial -->
{% endblock %}